
.banner-container {
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url('https://i.pinimg.com/564x/85/eb/2d/85eb2dea0490c12af333afa72dde5200.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 60vh;
    height: 90vh;
    display: flex;
    justify-content: center;
    background-blend-mode: overlay;
    align-items: center;
}
.clear {
    background-color:transparent;
    color: white;
    font-size: 500%;
}
.quote {
    font-size: larger;
    color: white;
    text-align: center;
}